# Media files
media/
!media/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Environment
.env
venv/
env/

# Django
db.sqlite3
django_errors.log
*.log

# Documentation/Artifacts
